* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  html {
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0px;
    font-family: SF-Pro-Display, Arial, Helvetica, sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  header.navigation {
    flex-direction: row;
    align-items: center; 
    display : flex;
    justify-content: space-between;
    max-width: 1366px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .nav{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }

  .brandlogo {
    flex-direction: row;
    display: flex;
    
    align-items: center;
  }

  .brand {
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
  }

  .logo {
    width: 23px;
    height: 16px;
    padding-right: 2px;
  }

  .Hpage {
    gap: 15px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 13px;
    line-height: 9px;
  }

  .button {
    background-color: #0077C0;
    padding: 6px 17px 6px 17px;
    margin-left: 15px;
    border-radius: 9px;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 18px;
   
  }


  .presentation {
    flex-direction: row;
    align-items: center; 
    display : flex;
    justify-content: space-around;
    max-width: 1000px;
    min-height: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  .prtxt {
    width: auto;
    min-height: 100;
  }

  .recruit {
    max-width: 350px;
    height: 100px;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: -0.8px;
    margin-top: 0;
    padding-bottom: 20px;
  }

  .connect {
    max-width: 300px;
    margin: 0;
    font-weight: 400px;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 5px;
  }

  .button2 {
    background-color: #0077C0;
    display: inline-block;
    padding: 6px 17px 6px 17px;
    border-radius: 9px;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 18px;
    margin-bottom: 0;
  }

  .imgfman{
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    height: 400px;
  }

  .firstman {
    height: 400px; 
  }


  .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto; 
  }

  .airbnb {
    height: 30px;
    width: auto;
  }

  .google {
    height: 30px;
    width: auto;
  }

  .slack {
    height: 30px;
    width: auto;
  }

  .netflix {
    height: 30px;
    width: auto;
  }

  .amazon {
    height: 30px;
    width: auto;
  }


  
